@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic);
.libre-baskerville-bold {
  font-family: 'Libre Baskerville', serif;
  font-style: normal;
  font-weight: 700;
}
.libre-baskerville-italic {
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  font-weight: 400;
}
.libre-baskerville-normal {
  font-family: 'Libre Baskerville', serif;
  font-style: normal;
  font-weight: 400;
}
.font-family-base {
  font-family: 'Libre Baskerville', serif;
}
.font-family-monospace {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
.font-family-sans-serif {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.font-family-serif {
  font-family: 'Libre Baskerville', serif;
}
.bold {
  font-style: normal;
  font-weight: 700;
}
.normal {
  font-style: normal;
  font-weight: 400;
}
.oblique {
  font-style: oblique;
  font-weight: normal;
}
* {
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 1px transparent;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.01);
}
.white {
  stroke: #ffffff;
  fill: #ffffff;
}
::selection {
  background-color: #000000;
  color: #ffffff;
}
::-moz-selection {
  background-color: #000000;
  color: #ffffff;
}
html {
  background-color: #ffffff;
  font-size: 62.5%;
  /* Sets up the Base 10 stuff */

  height: 100%;
}
html body {
  font-family: 'Libre Baskerville', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-size: 1.6rem;
  background-color: #ffffff;
  color: #000000;
  height: 100%;
  position: relative;
  overflow: auto;
}
html body object {
  position: absolute;
}
html body object[data="objects/0101-0110.svg"] {
  top: 60px;
  left: 60px;
}
html body object[data="objects/0921-0931.svg"] {
  top: 60px;
  left: 60px;
}
html body object[data="objects/0111-0120.svg"] {
  top: 60px;
  right: 60px;
}
html body object[data="objects/0121-0131.svg"] {
  top: 60px;
  right: 60px;
}
html body object[data="objects/0201-0210.svg"] {
  top: 60px;
  right: 60px;
}
html body object[data="objects/0211-0220.svg"] {
  top: 60px;
  right: 60px;
}
html body object[data="objects/0221-0231.svg"] {
  top: 60px;
  right: 60px;
}
html body object[data="objects/0301-0310.svg"] {
  top: 60px;
  right: 60px;
}
html body object[data="objects/0311-0320.svg"] {
  top: 60px;
  right: 60px;
}
html body object[data="objects/0321-0331.svg"] {
  top: 60px;
  right: 60px;
}
html body object[data="objects/0701-0710.svg"] {
  top: 60px;
  right: 60px;
}
html body object[data="objects/0711-0720.svg"] {
  top: 60px;
  right: 60px;
}
html body object[data="objects/0721-0731.svg"] {
  top: 60px;
  right: 60px;
}
html body object[data="objects/0801-0810.svg"] {
  top: 60px;
  right: 60px;
}
html body object[data="objects/0811-0820.svg"] {
  top: 60px;
  right: 60px;
}
html body object[data="objects/0821-0831.svg"] {
  top: 60px;
  right: 60px;
}
html body object[data="objects/0901-0910.svg"] {
  top: 60px;
  right: 60px;
}
html body object[data="objects/0911-0920.svg"] {
  top: 60px;
  right: 60px;
}
html body object[data="objects/0411-0420.svg"] {
  bottom: 60px;
  left: 60px;
}
html body object[data="objects/0421-0431.svg"] {
  bottom: 60px;
  left: 60px;
}
html body object[data="objects/0501-0510.svg"] {
  bottom: 60px;
  left: 60px;
}
html body object[data="objects/0511-0520.svg"] {
  bottom: 60px;
  left: 60px;
}
html body object[data="objects/0521-0531.svg"] {
  bottom: 60px;
  left: 60px;
}
html body object[data="objects/0601-0610.svg"] {
  bottom: 60px;
  left: 60px;
}
html body object[data="objects/0611-0620.svg"] {
  bottom: 60px;
  left: 60px;
}
html body object[data="objects/0621-0631.svg"] {
  bottom: 60px;
  left: 60px;
}
html body object[data="objects/1001-1010.svg"] {
  bottom: 60px;
  left: 60px;
}
html body object[data="objects/1011-1020.svg"] {
  bottom: 60px;
  left: 60px;
}
html body object[data="objects/1021-1031.svg"] {
  bottom: 60px;
  left: 60px;
}
html body object[data="objects/1101-1110.svg"] {
  bottom: 60px;
  left: 60px;
}
html body object[data="objects/1111-1120.svg"] {
  bottom: 60px;
  left: 60px;
}
html body object[data="objects/1121-1131.svg"] {
  bottom: 60px;
  left: 60px;
}
html body object[data="objects/1201-1210.svg"] {
  bottom: 60px;
  left: 60px;
}
html body object[data="objects/1211-1220.svg"] {
  bottom: 60px;
  left: 60px;
}
html body object[data="objects/0401-0410.svg"] {
  bottom: 60px;
  right: 60px;
}
html body object[data="objects/1221-1231.svg"] {
  bottom: 60px;
  right: 60px;
}
html body .error {
  margin: 60px;
}
